<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nz-page-header nzTitle="Báo cáo" style="width: 200px;"></nz-page-header>
   <div class="card-container">
    <nz-card id="temperatureCard" nzTitle="Nhiệt Độ" [nzHoverable]="true" style="width: 270px; height: 170px;">{{humirity}}</nz-card>
    <nz-card id="humidityCard" nzTitle="Độ ẩm" [nzHoverable]="true" style="width: 270px; height: 170px;">{{temparatue}}</nz-card>
    <nz-card id="gasCard" nzTitle="Nồng Độ Khí Gas" [nzHoverable]="true" style="width: 270px; height: 170px;">{{gas}}</nz-card>
    <nz-card id="flameCard" nzTitle="Cảm biến lửa" [nzHoverable]="true" style="width: 270px; height: 170px;">{{flame}}</nz-card>
   </div>
    <div class="container" style="margin-top: 1%;">
      <div class="chart-container">
        <canvas baseChart width="1000" height="380"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [type]= "'line'">
      </canvas>
      </div>
      <div class="cards-container" style="margin-top: 30px; margin-left: 1%; ">
        <nz-card nzTitle="Trạng Thái Còi" [nzHoverable]="true" style="width: 200px; height: 150px;" >
          <nz-tag *ngIf="buzzerState === 1" [nzColor]= "'#87d068'"  class="custom-tag">Bật thiết bị</nz-tag>
          <nz-tag *ngIf="buzzerState === 0" [nzColor]="'#f50'"  class="custom-tag">Tắt thiết bị</nz-tag>
        </nz-card>
        <nz-card nzTitle="Trạng Thái Led" [nzHoverable]="true" style="width: 200px; height: 150px; margin-top: 42%;">
          <nz-tag *ngIf="ledState === 1" [nzColor]= "'#87d068'"  class="custom-tag">Bật thiết bị</nz-tag>
          <nz-tag *ngIf="ledState === 0" [nzColor]="'#f50'"  class="custom-tag">Tắt thiết bị</nz-tag></nz-card>
      </div>
    </div>
</body>
</html>

