<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Hệ Thống Cảnh Báo Cháy</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Home" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="report" >Report</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="data">Data</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="action">Action</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user">User</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
        <!-- <span style="margin-left: 76%;" class="header-trigger">
          <nz-avatar [nzSize]="35" nzIcon="user"></nz-avatar>
        </span>
        <span style="margin-left: -3%;" class="header-trigger">
          Lại Ngọc Sơn
        </span> -->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
